*{
    margin: 0px;
    padding: 0px;
}

a,a:hover{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,span,p,a{
    margin: 0px;
    padding: 0px;
}

ul,ol{
    list-style: none;
}

/* TOP PART START */
.top-part{
    background-color: aqua;
    padding-bottom: 8px;
}

.icon_bar ul li{
    float: left;
    padding: 0px 10px;
}

.icon_bar ul li a{
    font-size: 20px;
    color: black;
}

.menu{
    float: right;
    margin-top: 15px;
}

.menu ul li{
    float: left;
    padding: 0px 10px;
}

.menu ul li a{
    color: black;

}

/* HEADER PART START */


.navbar-nav .nav-item .nav-link{
    color: black;
}

/* BANNER PART START */
#banner{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/hospital.png);
    background-size: cover;
    padding: 200px;
    background-position: center;
    background-repeat: no-repeat;
}

.banner_content{
    text-align: center;
}

.banner_content h3{
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
}

.banner_content p{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;  
    color: #fff;
}

.button a{
    text-align: left;
    line-height: 20px;
}

/* GALLERY PART START */
#gallery{
    margin-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}



.gallery_icon i{
    color: red;
    font-size: 60px;
    margin-bottom: 20px;
    position: absolute; 
}

.gallery_content h3{
    margin-top: 30px;
    margin-bottom: 20px;
    
}

.gallery_content{
    margin: 0px 40px;
    border: 3px solid #f1f1f1;
    border-radius: 10px;
    padding: 70px 20px;
    position: relative;
    top: -20px;
    left: 25px;
}

.gallery_part::hover{
    box-shadow: 50px;
}

/* SERVICE PART CSS START */
#service{
    padding-bottom: 100px;
    text-align: center;   
    background-color: #F5F7F9;
}

.common_heading{
    margin-top: 50px;
    margin-bottom: 70px;
    text-align: center;
}

.common_heading h2{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 36px;
    text-transform: uppercase;
    line-height: 30px;
}

.common_heading p{
    font-weight:500px;
    font-size:16px;
}

.service_icon i{
    color: red;
    font-size: 60px;
    margin-bottom: 20px;
    position: absolute; 
}

.service_content h3{
    margin-top: 30px;
    margin-bottom: 20px;
    
}

.service_content{
    margin: 0px 40px;
    border: 3px solid #f1f1f1;
    border-radius: 10px;
    padding: 70px 20px;
    position: relative;
    top: -20px;
    left: 25px;
}

.service_part{
    margin-top: 100px;
}

.service_content a{
    line-height: 35px;
    color: red;
}

.service_content:hover{
    box-shadow: 50px;
}

/* SUMMARY PART CSS START */

#summary{
    padding: 80px 0px;
    text-align: center;      
}

.summary i{
    font-size: 30px;
    background-color:#F5F7F9 ;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    color: red;
    margin-bottom: 10px;
}

/* TESTIMONIAL PART CSS */
#testimonial{
    padding-bottom: 50px;
    background-color: #F5F7F9
}

.testi_content{
    background-color: #fff;
    padding: 40px 50px;

}

/* EXPERT PART CSS */
#experts{
    padding-bottom: 50px;
}

.experts_content img:hover{ 
    background-color: aqua;   
}

.experts a i{
    padding: 0px 6px;
    color: black;
    font-size: 16px;
}

/* BLOG CSS START */

#blog{
    background-color: #F5F7F9;
    padding-bottom: 50px;
}

.blog_content{
    background-color: #fff;
    padding: 10px 30px;
}

.blog_content h4{
    font-size: 20px;
}

.blog_content p{
    font-weight: 400;
    font-size: 16px;
}

.blog_content a , i{
    font-size: 12px;
}

/* NEWWSTELLER PART CSS */

#newsteller{
    padding-bottom: 50px;
}
.newsteller_content{
    padding-top: 60px;
    padding-bottom: 50px;
}

.newsteller_content h3{
    color: #fff;
    font-size: 34px;
    font-weight: 600;
}

.newsteller_content p{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

/* FOOTER PART CSS */

#footer{
    margin-top: 60px;
    background-color: rgb(17, 17, 61);
    padding-bottom: 80px;
}

.about_us h3{
    border-bottom: 2px solid rgb(247, 131, 131);
}



/* ABOUT US CSS START */

#about-banner{
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) , url(../images/about_part.jpg);
    padding: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* PATIENT PART START */

#patients{
    margin-top: 100px;
    margin-bottom: 100px;
}

.patient_img{
    position: absolute;
    z-index: 1;
}

.patient_img_2{
    position: relative;
    top: -50px;
    left: 160px;
}    

.patient_images{
    margin-bottom: 50px;
}

.patient_content p{
    text-align: justify;
    line-height: 30px !important;
}

#mission{
    background-color: #F5F7F9;
    padding: 50px 0px;
}

.mission_content{
    margin-top: 30px;
}

    

